body {background: url(https://www.1limburg.nl/sites/default/files/public/styles/media-paragraph/public/687021.jpg?itok=hwgwzZT8)}

h1{
    color:purple;
border: 10px solid red;
}

h2{
    color:yellow}

    p{color:cyan}
